<!DOCTYPE html>
<html>

	<head>
		<title>AIRD SIGN UP</title>
		<link rel="stylesheet" type="text/css" href="NewUser.css"> 
	</head>

	<body>
		<div id = "container" class="container">
			<div id = "header">
				<img src ="/GitLocal/MVC_PHP/view/Images/6B4.jpg" />

			</div>
			<div id = "page">
				<div id = "UserDetails">
		 			<form>
 						First name<input type="text" name="firstname">&nbsp;&nbsp;
  						Last name<input type="text" name="lastname"><br>
  						User Name<input type="text" name="username"><br>
  						Password<input type="password" name="password"><br>
  						Phone Number<input type="text" name="phonenumber"><br>
  						Region<select name="dropdown">
									<option value="USA">USA</option>
									<option value="UAE">UAE</option>
									<option value="AFRICA">AFRICA</option>
									<option value="JAPAN">JAPAN</option>
									<option value="INDIA" selected>INDIA</option>
									<option value="CHINA">CHINA</option>
									<option value="PAKISTAN">PAKISTAN</option>
								</select>

					</form>
				</div>
			</div>
			<div id = "footer">
				footer of this page
 			</div>	 
		</div>

	</body>


</html>